# Excluir la carpeta del profesor
profesor/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de editores
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos de respaldo
*.bak
*.tmp


# Actividades de clase
actividades/U2-Entidad-Relacion/*
!actividades/U2-Entidad-Relacion/EJERCICIOS_INICIALES_ENTIDAD_RELACION_I.md
!actividades/U2-Entidad-Relacion/EJERCICIOS_INICIALES_ENTIDAD_RELACION_II.md
!actividades/U2-Entidad-Relacion/EJERCICIOS_INICIALES_ENTIDAD_RELACION_III.md
!actividades/U2-Entidad-Relacion/RELACION-E-R-1A.md